body{min-width:320px;height:100%;font-size:17px;font-family:"notoKrR",sans-serif;color:#666666;list-style:none;line-height:1.7em;letter-spacing:-0.03em;word-spacing:0.1em;border:0px solid blue;outline:0;-webkit-text-size-adjust:none;}

header{min-height:90px; background:#fff; }
header .header h1{left:50px;top:25px;}
header .header h1 a{width:197px; height:30px; background:url(../img/m_logo.png) no-repeat 0 0; background-size:100%;}
header .header h1 span{position: relative; line-height: 35px; font-size:22px; color:#0054a4; font-family: 'NotoKrR'; letter-spacing:-3px; padding:0px 0 0 15px; margin:0px 0 0 18px;}
header .header h1 span::after{content:''; display:block; top:9px; left:0; position: absolute; background:#dbe4ee; width:1px; height:19px; }

nav{padding: 0 0% 0 445px;}
.top_menulist{}
.top_menulist li{display: inline-block;  position: relative; padding:0 25px;}
.top_menulist li a{display: inline-block; line-height: 90px; color:#000; font-family: 'NotoKrB'; font-size:18px;}
.top_menulist li a:hover{color:#1fa8ff;}
.top_menulist li .sub-gnb{display:none !important; }
.top_menulist li:nth-child(3)::after{content:''; display:block; position: absolute; right:0; top:30px; background:url(../img/icon_question.png) no-repeat 0 0; width:20px; height:19px;  }

#m_container{position: relative;}

#m_left{position: relative; float:left; background:#f9f9f9; width:54%;}
#m_right{position: relative; float:left; background:url(../img/m_pic.jpg) no-repeat 0 0;  width:46%; min-height:800px;}


#m_left .cont{position: relative;  width:760px; float:right; min-height:800px; background:url(../img/main_model.png) no-repeat right 20px;}

.con_text1{padding:178px 0 0 0}
.con_text1 .sub_tit{position: relative; font-size:42px; color:#000; padding-left:17px; line-height: 42px; padding-bottom:10px; margin-bottom:25px; font-family: 'GangwonEduPower'; z-index:20;}
.con_text1 .sub_tit::before{content:''; display:block; position: absolute; width:290px; height:31px; background:#fcd109; left:0; bottom:0px; border-radius:30px; z-index: -1;}

.con_text1 .subject{font-family: 'GangwonEduPower'; font-size:80px; line-height: 80px; color:#000;}
.con_text1 .banner{margin-top:30px; }


.con_text2{padding:115px 0 0 54px;}
.con_text2 .subject{position: relative; font-size:48px; color:#000; line-height: 48px; padding-left:18px; padding-bottom:10px; margin-bottom:15px; font-family: 'GangwonEduPower';  z-index:20;}
.con_text2 .subject::before{ position: absolute; content:''; display:block; width:394px; height:31px; background:#fcd109; left:0; bottom:0px; border-radius:30px; z-index: -1;}
.con_text2 .part{color:#000; font-size:20px; padding-left:18px; font-weight: 600}
.con_text2 .btn_link{margin-top:60px;  padding-left:18px;}

.link{margin:264px 0 0 54px; width:580px;}
.link li{float:left; margin:0 10px 10px 0; }
.link li a{display:block; border-radius:30px; background:rgba(0,0,0,0.5); letter-spacing: -1px; color:#fff; padding:14px 35px;  font-family: 'NotoKrM';  font-size:26px;}
.link li a span{background:url(../img/m_link_arr.png) no-repeat right 0; width:30px; display:inline-block; height:15px; margin-left:30px;}
.link li a:hover{background:rgba(0,0,0,1);}


footer{position: relative; max-width:1400px; margin:50px auto 0 auto; text-align: center; padding:25px 0; border-top:2px solid #000;}
footer #foot{text-align: left;}
footer #foot .copy_info{color:#444; font-size:1.8rem; font-family: 'NotoKrM';  }
footer #foot .copy_info p.copyright {font-size: 1.4rem; color:#888; font-family: 'NotoKrL'; letter-spacing: 0; }


@media screen and (max-width:1400px){

	nav{padding: 0 0% 0 445px;}
	.top_menulist li{padding:0 25px;}
	.top_menulist li a{font-size:18px;}

	#m_left .cont{width:100%; padding:0 0 0 20px;}

	.link{margin: 180px 0 0 54px; width: 98%;}

}


@media screen and (max-width:1200px){
	.con_text2{ padding: 115px 20px 0 30px;}
	.link{margin: 180px 0 0 30px;}

}


@media screen and (max-width:1024px){
	header{ min-height: 110px;}
	header .header h1{left:32px;  top:33px }
	.top_menulist li:nth-child(3)::after{display:none; }

	#m_left{width:100%; padding: 0 30px; box-sizing: border-box;}
	#m_left .cont{padding: 0 0 0 40px;}
	#m_right{background-size: cover; width:100%; padding: 0 30px 0 54px; box-sizing: border-box;}

	.con_text2 {padding: 115px 20px 0 0px;}
	.link {margin: 180px 0 0 0px; width: 80%;}


	footer{border-top: none; margin-top:0px; line-height: 26px; font-size:16px; color:#666666;}
	footer #foot .copy_info{font-size:16px;}
	footer #foot{text-align:center;}
	footer p.copyright{color:#bcbeb7;}




}


@media screen and (max-width:768px){


	header{min-height:80px; background:#fff; }
	header .header h1{left:20px;top:24px;}
	header .header h1 a{width:200px; height:34px; background:url(../img/m_logo.png) no-repeat 0 0; background-size:100%}
	header .header h1 span{color:#0054a4; font-size:16px; line-height: 34px;     padding: 0px 0 0 10px;  margin: 0px 0 0 10px;}
	header .header h1 span::after{height:16px; top:0px;}

	#m_left{min-height: auto; padding:0 20px; 	}
	#m_left .cont{padding: 0 0 0 20px; min-height: 555px;     background: url(../img/main_model.png) no-repeat right 65px; background-size: 193px;}
	#m_right{ padding: 0 20px 0 40px; min-height: 530px;     background: url(../img/m_pic.jpg) no-repeat right 0;     background-size: cover;}
	
	.con_text1 .banner img{height:30px; }
	.con_text1 .sub_tit{font-size:28px;  padding-left:10px;   line-height: 28px;}
	.con_text1 .sub_tit::before{width:194px; height:21px;}

	.con_text1 .subject{font-size:53px; line-height:53px;}

	.con_text2{padding: 85px 0px 0 0px;}
	.con_text2 .subject{font-size:36px;  padding-left:10px;   line-height: 36px; margin-bottom: 20px;}
	.con_text2 .subject::before{height:20px; width:285px;}
	.con_text2 .part{font-size:16px; padding-left:10px;}
	.con_text2 .btn_link{margin-top: 25px; padding-left:10px;}

	.link{width: auto; margin: 100px 0 0 0px;}
	.link li a{font-size:19px;     padding: 10px 20px;}
	.link li a span{width:23px; height:12px; margin-left:15px;}
	.link li {float: left;margin: 0 6px 6px 0;}


}




@media screen and (max-width:640px){	

	.copy_info .addtel span{display:block;}
	footer p.copyright span{display:block;}

}


@media screen and (max-width:480px){	
	#m_left .cont{padding:0;}
	#m_right{padding:0 20px;}
}